# todos os arquivos em csv
*.csv

#todos os arquivos checkpoint
.ipynb_checkpoints/

#arquivos pycache  api
*.pyc

#arquivo planejamento
planejamento

#teste
*.txt
#problema de negocio
problema_negocio

#file pyc
api/insurance/__pycache__/Insurance.cpython-38.pyc

#ignore archive
.gitignore.save
#archive of git
..gitignore.swp


#documents of web
api_web/

#virtual ambiente of deploy
webinsurance/
